<div class="container-fluid">
  
  <div class="row">
    <div class="card">
        
        <div class=" card-user  ">
                <div class="image">
                    <%= image_tag "background.jpg" %>
                </div>
                 <div class="content">
                    <div class="author">
                        <%= image_tag("faces/face-2.jpg", class:"avatar border-white") %>
                        <h4 class="title"><%= link_to  @org.name, @org.email %><br/>
                            <small><%= @org.campus %></small>
                        </h4>
                    </div>
                     <p class="description text-center">
                       <button type="submit" class="btn btn-info btn-fill btn-wd ">Visitar site</button>
                    </p>
                </div>
        </div>
    </div>
  </div>
</div>
  
  <div class="row">
      <% @org.courses.each do |course| %>
        <%= render course %>
      <%end%>
      </div>
  </div>
  
</div>


