<div class="container-fluid">
  
  <div class="row">
    <div class="card">
        
        <div class=" card-user  ">
                <div class="image">
                    <%= image_tag @org.capa.url(:cover)%>
                </div>
                 <div class="content">
                    <div class="author">
                        <%= image_tag @org.picture.url(:square), class:"avatar border-white" %>
                        <h4 class="title"><%= @org.name %><br/>
                            <small><%= @org.campus %></small>
                        </h4>
                    </div>
                     <p class="description text-center">
                       <%= link_to "Visitar site", @org.email, class:"btn btn-info btn-fill btn-wd "%>
                    </p>
                </div>
        </div>
    </div>
  </div>
</div>
  
  <div class="row">
      <% @org.courses.each do |course| %>
        <%= render course %>
      <%end%>
      </div>
  </div>
  
</div>


