
   <div class="col-lg-4 col-md-5">
       <div class="card card-user">
           <div class="image">
               <%= image_tag "background.jpg" %>
           </div>
           <div class="content">
               <div class="author">
                   <%= link_to user_path(user) do %>
                       <%= image_tag(user.photo.url(:square), class:"avatar border-white") %>
                   <% end %>
                   <h4 class="title">
                       <%= link_to user.name, user_path(user) %>
                       <br/>
                       <small><%= user.email %></small>
                   </h4>
               </div>
                <p class="description text-center">
                  <%= user.bio %>
               </p>
           </div>
           <hr>
           <div class="text-center">
               <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <h5><%= user.courses.count %><br /><small>Cursos</small></h5>
                        </div>
                        <div class="col-md-4">
                            <h5><%= user.goals.count %><br /><small>Metas</small></h5>
                        </div>
                        <div class="col-md-3">
                            <h5><%= user.user_connections.count %><br /><small>Contatos</small></h5>
                        </div>
               </div>
           </div>
       </div>
   </div>