
   <div class="col-lg-4 col-md-5">
       <div class="card card-user">
           <div class="image">
               <%= image_tag "background.jpg" %>
           </div>
           <div class="content">
               <div class="author">
                   <%= link_to user_path(user) do %>
                       <%= image_tag(user.photo.url(:square), class:"avatar border-white") %>
                   
                   <h4 class="title">
                       <%= user.name %>
                       <br/>
                       <small>@<%= user.email %></small>
                    <% end %>
                   </h4>
               </div>
                <p class="description text-center">
                  <%= user.bio %>
               </p>
           </div>
           <hr>
           <div class="text-center">
              <div class="row">
                   <div class="col-sm-10 col-sm-offset-1">
                   <% if current_user && !(current_user.user_connections.where(user_b_id: user.id).any?) && current_user!=user %>
                       <%= link_to "Criar conexão", user_connections_path(:user_a_id => current_user.id, :user_b_id => user.id), :method => :post, class:"btn btn-success" %>
                   <% elsif current_user && current_user!=user %>
                       <%= link_to "Remover conexão", user_connection_path(current_user.user_connections.where(user_b_id: user.id).first.id), :method => :delete, class:"btn" %>
                   <% end %>
                   </div>
               </div>
               <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <h5><%= user.courses.count %><br /><small>Cursos</small></h5>
                    </div>
                    <div class="col-md-4">
                        <h5><%= user.goals.count %><br /><small>Metas</small></h5>
                    </div>
                    <div class="col-md-3">
                        <h5><%= user.user_connections.count %><br /><small>Contatos</small></h5>
                    </div>
               </div>
           </div>

       </div>
   </div>