
    <div class="content">
        <%= form_for(@course) do |f| %>
        
          <div class="row">
                <%= devise_error_messages! %>
                <div class="col-md-12">
                    <div class="form-group">
                      <%= f.label :"Nome do curso" %><br />
                      <%= f.text_field :name, autofocus: true, class:"form-control border-input" %>
                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                      <%= f.label "Faculdade" %><br />
                      <%= f.collection_select :org_id, Org.all, :id, :name, {include_blank: false}, {multiple: false, class:"form-control chosen"} %>
                    
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                       <%= f.label :"Introdução" %><br>
                         <%= f.text_field :intro, autofocus: true, class:"form-control border-input" %>
                    </div>
                </div>
            </div>
            
                <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                         <%= f.label :"Descrição" %><br>
                         <%= f.text_field :description,  autofocus: true, class:"form-control border-input" %>
                    </div>
                </div>
            </div>
                   
             <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                         <%= f.label :"Conteúdo" %><br>
                         <%= f.text_field :content,  autofocus: true, class:"form-control border-input" %>
                    </div>
                </div>
            </div>
             
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :"Nível" %><br />
                  <%= f.text_field :difficulty, autocomplete: "off", class:"form-control border-input"  %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :Vagas %><br />
                  <%= f.text_field :capacity, autocomplete: "off", class:"form-control border-input" %>
                </div> 
              </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :"Participantes" %> <br />
                    <%= f.text_field :participants, autocomplete: "off" , class:"form-control border-input" %>
                  </div>
                </div>
            </div>
            
               <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :"Data de início" %><br />
                  <%= f.text_field :start, autocomplete: "off", class:"form-control border-input"  %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :"Data de término" %><br />
                  <%= f.text_field :end, autocomplete: "off", class:"form-control border-input" %>
                </div> 
              </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :"Preço" %> <br />
                    <%= f.text_field :price, autocomplete: "off" , class:"form-control border-input" %>
                  </div>
                </div>
            </div>
               <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :"Foto de perfil" %><br />
                  <%= f.file_field :picture, autocomplete: "off", class:"form-control border-input" %>
                </div> 
              </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :"Foto de Capa" %> <br />
                    <%= f.file_field :cover, autocomplete: "off" , class:"form-control border-input" %>
                  </div>
                </div>
            </div>
            <div class="row">
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            </div>

            <div class="text-center">
                <%= f.submit "Criar" , class:"btn btn-info btn-fill btn-wd" %>
            </div>
            <div class="clearfix"></div>
        <% end %>
    </div>
</div>

