
<div class="container-fluid">
<div class="row">
    <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image">
                <%= image_tag "background.jpg" %>
            </div>
            <div class="content">
                <div class="author">
                  <%= image_tag("faces/face-2.jpg", class:"avatar border-white") %>
                  <h4 class="title"><%= @course.name %><br />
                     <a href="#"><small>Course org</small></a>
                  </h4>
                </div>
                <p class="description text-center">
                    <%= @course.intro %>
                </p>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                         <h5><%= @course.capacity %><br /><small>Vagas</small></h5>
                    </div>
                     <div class="col-md-4">
                       <h5>03/05<br /><small>Início</small></h5>
                    </div>
                    <div class="col-md-3">
                       <h5>19/04<br /><small>Término</small></h5>
                    </div>
                </div>
                <hr>
                 <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                         <h5>R$ 25<br /><small>Preço</small></h5>
                    </div>
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-info btn-fill btn-wd vertically-align">Inscrever-se</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="header" style="text-align:center">
                <h4 class="title">Inscritos</h4>
            </div>
            <div class="content">
                <ul class="list-unstyled team-members">
                            <li>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        DJ Khaled
                                        <br />
                                        <span class="text-muted"><small>Offline</small></span>
                                    </div>

                                    <div class="col-xs-3 text-right">
                                        <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="assets/img/faces/face-1.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        Creative Tim
                                        <br />
                                        <span class="text-success"><small>Available</small></span>
                                    </div>

                                    <div class="col-xs-3 text-right">
                                        <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="assets/img/faces/face-3.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        Flume
                                        <br />
                                        <span class="text-danger"><small>Busy</small></span>
                                    </div>

                                    <div class="col-xs-3 text-right">
                                        <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                    </div>
                                </div>
                            </li>
                        </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="header">
                <h2 class="title" class="text-center"><%= @course.name %></h2>
            </div>
            <div class="content">
                <h3>Descrição</h3>
                <p><%= @course.description %></p>
                 <hr>
                <h3>Ementa</h3>
                <p><%= @course.content %></p>
            </div>
        </div>
        
         <div class="card card-user">
            <div class="header">
                <h3>Responsáveis</h3>
            </div>
            <div class="content">
                    <div class="row">
                        <div  class=" content col-md-3 col-md-offset-1">
                                 <%= image_tag("faces/face-2.jpg", class:"avatar border-white") %>
                                  <h4 class="title">Chet Faker</h4>
                        </div>
                        <div class="col-md-7 card-user description">
                            <p class="vertically-align">
                                    "I like the way you work it 
                                    No diggity 
                                    I wanna bag it upI like the way you work it 
                                    No diggity 
                                    I wanna bag it upI like the way you work it 
                                  p"
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-warning text-center">
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Nota</p>
                                        4.7
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    25 Avaliações
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-success text-center">
                                        <i class="fa fa-book"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Nível</p>
                                        Fácil
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    25 avaliações
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-danger text-center">
                                        <i class="fa fa-group"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Já cursaram</p>
                                        23
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                     Pessoas
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


       

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @course.owner %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @course.intro %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @course.content %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @course.difficulty %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @course.capacity %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @course.participants %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

