<div class="sidebar" data-background-color="black" data-active-color="danger">

<!--
	Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
	Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
-->

	<div class="sidebar-wrapper">
        <div class="logo">
            <h1 align="center"><%= link_to "Ahooy!", root_path %></h1>
            

        </div>

        <ul class="nav">
            <li class="<%= 'active' if controller.controller_name=="goals" %>">
                <%= link_to(goals_path) do %>
                    <i class="fa fa-map-o"></i>
                    <p>Metas</p>
                <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name=="courses" %>">
                <%= link_to(courses_path) do %>
                    <i class="fa fa-book"></i>
                    <p>Cursos</p>
                <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name=="orgs" %>">
                <%= link_to(orgs_path) do %>
                    <i class="fa fa-university"></i>
                    <p>Faculdades</p>
                <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name=="users" %>">
                <%= link_to(users_path) do %>
                    <i class="fa fa-users"></i>
                    <p>Usuários</p>
                <% end %>
            </li>

        </ul>    

        
	</div>
</div>
